@model IEnumerable<Aluno>

@{
    ViewData["Title"] = "Lista de Alunos";
}

<h2>Lista de Alunos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo Aluno</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uf)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AlunoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlunoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
